html, body {
    height: 100%; /* Задаем высоту 100% для html и body */
    margin: 0; /* Убираем отступы */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f6ef; /* Светлый кремовый фон */
    display: flex;
    flex-direction: column; /* Позволяет располагать элементы по вертикали */
}

header {
    background: #e3d1b0; /* Кремовый цвет для шапки */
    color: #333; /* Тёмно-серый текст */
    padding: 25px 0;
    text-align: center; /* Выравнивание текста по центру */
}

header h1 {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

pre.main {
    font-family: arial, sans-serif;
}

nav ul li a {
    color: #333; /* Тёмно-серый цвет для ссылок */
    text-decoration: none;
}

main {
    flex: 1; /* Позволяет основному контенту занимать всё оставшееся пространство */
    padding: 20px;
    background: #ffffff; /* Белый фон для контента */
    margin: 20px auto;
    max-width: 820px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #e3d1b0; /* Кремовый цвет для подвала */
    color: #333; /* Тёмно-серый текст */
}

article h3 {
    color: #e3d1b0; /* Кремовый цвет для заголовков новостей */
}